body {
    background-color: lemonchiffon;
}

h1#main-header {
    color:rgb(229, 179, 250)
}

h2.description {
    color: rgb(170, 0, 255);
}

h2.ingredients {
    color: rgba(170, 0, 255, 0.649);
}

h2.steps {
    color: rgba(170, 0, 255, 0.311);
}

img.donburi {
    width: auto;
    height: 325px;
}