body {
    background-color: mistyrose;
    font-family: Arial, Helvetica, sans-serif;
}

h1#main-header {
    color:rgb(64, 200, 218);
    font-family: 'Courier New', Courier, monospace;
}

h2.description {
    color: rgba(59, 94, 248, 0.798);
}

h2.ingredients {
    color: rgba(30, 63, 248, 0.603);
}

h2.steps {
    color: rgba(18, 45, 248, 0.321);
}

img.kimbop {
    width: auto;
    height: 325px;
}

img.house-icon {
    width: 20px;
    height: 20px;
}