body {
    background-color:rgb(143, 138, 73);
    font-family: Arial, Helvetica, sans-serif;
}

h1#main-header {
    color:rgb(250, 226, 179);
    font-family: 'Courier New', Courier, monospace;
}

h2.description {
    color: rgb(255, 196, 0);
}

h2.ingredients {
    color: rgb(200, 150, 0);
}

h2.steps {
    color: rgb(175, 110, 0);
}

img.miso-soup {
    width: auto;
    height: 325px;
}

img.house-icon {
    width: 20px;
    height: 20px;
}