body {
    background-color:blanchedalmond;
}

h1#main-header {
    color: rgba(0, 115, 255, 0.824);
    font-family: 'Courier New', Courier, monospace;
}

ul.recipes {
    color:rgb(173, 158, 255);
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a.miso-soup {
    color: rgb(255, 158, 184);
}

a.kimbop {
    color: rgb(255, 144, 156);
}

a.donburi {
    color: rgb(215, 117, 133);
}
